@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Prevent horizontal scrolling issues on mobile devices */
  html,
  body {
    @apply max-w-[100vw] overflow-x-hidden;
  }

  /* Apply global theme colors and smooth fonts */
  body {
    @apply bg-background text-textMain antialiased;
  }
}

@layer utilities {
  /* Custom animations */
  .animate-fadeIn {
    animation: fadeIn 0.25s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}