# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dependencies
node_modules/

# build outputs
.next/
out/
dist/
dist-ssr/
build/

# environment files
.env
.env.local
*.local

# editor files
.vscode/*
!.vscode/extensions.json
.idea

# OS files
.DS_Store
*.suo
*.sw?

# typescript
*.tsbuildinfo

# coverage
coverage/